.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.tab {
  padding: 5px 50px;
}

.tab:hover {
  cursor: pointer;
}

.text-box {
  height:60px;
  width:200px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  margin: 5px 20px 40px 40px;
}

.text-box:hover {
  cursor: pointer;
}

h3 {
  margin: 3px 35px;
}